/* General Classes */

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.elegant {
    font-family: 'Adamina', sans-serif;
}

.nav {
    background-color: white;
}

.general {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px #1a0077 solid;
    text-align: center;
}

/* Nav-bar */

.navbar a { 
    text-transform: uppercase;
    font-weight: 400;
}

.navbar .nav-item.active {
    font-size: 10px;
    font-weight: 600;
    border-left: #1a0077 3px solid !important;
}

.navbar .nav-link {
    font-size: 12px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #1a0077 !important;        
    letter-spacing: 2px;
    background-size: 100%;
}

.hov-anim::after {
    content: '';
    display: block;
    width: 0;
    height:1px;
    background: #1a0077;
    transition: width .3s;
}

.hov-anim:hover::after {
    width: 100%;
    transition: width .3s;
}

/* landing page */

#landing-page {
    background-image: url("../img/image3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
}

#landing-page h2 {
    text-transform: uppercase;
    font-size: 50px;
    padding-top: 30%;
}

.header-overlay {
    background-color: rgba(216, 216, 216, 0.8);
    background-size: cover;
    height: 700px;
}

.title {
    text-align: center;
    color: rgb(6, 13, 104);
    font-weight: 500;
}

.lead {
    color: rgb(32, 32, 32);
}

.btn {
    margin-top: 20px;
    border: white .5px solid;
    border-radius: 0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
} 

.btn:hover {
    border: #1a0077 .5px solid;
    border-radius: 0;
    color: white;
    padding: 10px 20px;
    background-color: #1a0077;
    transition: .2s;
}

/* Services */

#services {
    min-height: 100px;
    color: rgb(233, 227, 227);
}

.services-block {
    width: 100%;
    text-align: center;
}

#services .title {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 200;
}

.services-block h2 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight:  200;
    color: black;
    margin-bottom: 20px;
}

.services-block {
    margin-top: 80px;
}


.services-block p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 !important;
    letter-spacing: .2px;    
    color: #32212b96;
    font-size: .875rem;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    text-align: justify;
    content: "";
}

.services-block p:after {
    content: "";
    display: inline-block;
    width: 100%;

}

.services-block i {
    color: rgb(0, 0, 110);
    margin-bottom: 20px;
}

/* About Us */

#about-us {
    min-height: 500px;
    background-color: rgb(225, 228, 255);
}

#about-us .title {
    color: black;
    text-align: left;   
    text-transform: uppercase;
    margin-top: 120px;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 200;
}

#about-us .general {
    text-align: left;
    margin: 10px 0 40px 0;
}

#about-us h3 {
    margin-top: 40px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

#about-us .text {
    width: 80%;
}

#about-us p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 !important;
    letter-spacing: .2px;    
    color: #32212b96;
    font-size: .875rem;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    text-align: justify;
    content: "";
    width: 80%;
    margin-bottom: 20px;
}

#about-us .image-block {
    min-height: 500px;
    background-image: url('/img/bellas-artes.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: .4;
}

/* Our Clients */

#our-clients {
    min-height: 700px;
    background-color: rgb(235, 235, 235);
}

#our-clients .title {
    padding-top: 100px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 200;
}

#our-clients .container-fluid {
    margin-top: 60px;
}

#our-clients .hover-eff:hover .img-overlay {
    opacity: 1;
    transition: .2s;
}

#our-clients img {
    width: 100%;
    height: 200px;
    text-align: center;
}

.img-overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

/* Contact Us */

#contact-us {
    background-color: white;
    min-height: 700px;
    margin-bottom: 40px;
}

#contact-us .title {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 200;
}

#contact-us p {
    width: 70%;
    font-family: 'Montserrat';
    text-align: center;
    margin: 20px auto 20px auto;
    font-weight: 100;
    letter-spacing: .2px;    
    color: #32212b96;
    font-size: .875rem;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    padding-bottom: 20px;
}

#contact-us form {
    text-align: center;
    margin: 0 auto;
    width: 456px;
}

#contact-us .hidden {
    display: none;
}

#contact-us input {
    text-indent: 10px;
    width: 100%;
    height: 60px;
    margin: 10px 0;
}

#contact-us textarea {
    width: 100%;
    border-color: lightgrey;
    padding: 0 10px;
}

#contact-us input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, #contact-us select {
    color: lightgrey;
    font-weight: 100;
    display: inline-block;
    margin-inline-start: 20px;
}

#contact-us button {
    color: rgb(0, 0, 110);
    border: 1px rgb(0, 0, 110) solid;
    padding: 10px 20px;
    margin: 10px;
}

#contact-us button:hover {
    color: white;
    background-color: rgb(0,0,110);
    border: 1px lightgrey solid;
    padding: 10px 20px !important;
}

/* Footer */

footer {
    background-color: #1a0077;
    min-height: 300px;
}

footer h2 {
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 40px;
}

.hr-footer {
    width: 100px;
    padding: 0;
    border: 1px white solid;
}

.footer-block {
    margin-top: 80px;
    text-align: center;
    width: 60%;
}

footer a {
    color: white;
}

footer .go-to-top {
    color: white;
    text-align: right;
}

footer i {
    padding-right: 40px;
}




/* Media Queries */

@media only screen and (min-width: 1024px) and (max-width: 676px) {
    #contact-us form {
        width: 40%;
    }

    #contact-us input {
        border: 1px solid lightgrey;
    }
}

@media only screen and (max-width: 676px) and (min-width: 320px) {
    #contact-us form {
        width: 80%;
    }

    #contact-us input {
        border: 1px solid lightgrey;
    }
}




















